### A/B Testing:-

A/B testing, also known as split testing, is a method used to compare two versions of a web page, app feature, email, or other marketing asset to determine which one performs better. It involves dividing your audience into two groups:

- <b>Group A (Control Group)<b>: This group sees the original version.
- <b>Group B (Treatment Group)<b>: This group sees the modified version.

### Importing the necessary libraries

In [1]:
import pandas as pd
import scipy.stats as ss

# Two sample mean testing (unpaired) -1

A custom exhaust manufacturing company want to compare the fuel economy after upgrading motorcycles from stock to custom exhaust. The test were run for 2 different batches i.e. BS4 and BS6 as custom exhaust is compatible with both BS4 and BS6 motorcycles. Both the batches have all different models of bikes as changes has to be compared across all models variants with old BS4 and newer BS6. To track if the custom exhaust affects the fuel economy of the BS4 and BS6 motorcycles differently, you decided to conduct a few hypothesis tests.

- Dataset to use: `unpaired-exhaust.csv`

In [2]:
## Load the dataset
twosampup_df = pd.read_csv("unpaired-exhaust.csv")
#https://drive.google.com/file/d/1SeUYT1Az_DRwEduW1o6Uwz7lVjUjx20E/view?usp=drive_link

In [3]:
twosampup_df.head()

  Bike ID  Fuel Economy Batch
0      A1            43   BS4
1      A2            52   BS4
2      A3            58   BS4
3      A4            44   BS4
4      A5            48   BS4

In [4]:
twosampup_df.tail()

   Bike ID  Fuel Economy Batch
43     B20            45   BS6
44     B21            54   BS6
45     B22            48   BS6
46     B23            62   BS6
47     B24            40   BS6

In [5]:
twosampup_df.shape

(48, 3)

### Subset the scores of each class to separate series

In [6]:
bs4 = twosampup_df[twosampup_df['Batch']=="BS4"]['Fuel Economy']
bs4.mean()

52.916666666666664

In [7]:
bs6 = twosampup_df[twosampup_df['Batch']=="BS6"]['Fuel Economy']
bs6.mean()

51.375

- H0:mean(bs4)=mean(bs6)
- H1:mean(bs4)!=mean(bs6)
- Assuming Significance Level of 5%

- p-values >0.05 --> Fail to reject null hypothesis
- p-values <=0.05 --> Reject null hypothesis

In [8]:
ss.ttest_ind(bs4,bs6,alternative='two-sided')

Ttest_indResult(statistic=0.7087914510636509, pvalue=0.482030754068267)

- p-value >0.05 --> Fail to reject the null hypothesis
- Fuel Economy for BS6 is same as Fuel Economy for BS4

# Two sample mean testing (paired) -1

Basket ball coach want to know whether or not a certain training program is able to increase the max vertical jump (in inches) of college basketball players. To test this, we may recruit a sample of 25 college basketball players and measure each of their max vertical jumps. Then, we may have each player use the training program for one month and then measure their max vertical jump again at the end of the month. To track if their is any difference in jump heights of the players after training program, you decided to conduct a few hypothesis tests.

- Dataset to use: `paired-jump.csv`

In [9]:
##Let's load the dataset
twosampp_df = pd.read_csv("paired_jump.csv")
#https://drive.google.com/file/d/15y0VrwVMY-IUeT-1cSfPkJPA9pBBOk6v/view?usp=drive_link

In [10]:
twosampp_df.head()

     Player  Jump before training  Jump after training
0  Player 1                    22                   24
1  Player 2                    20                   22
2  Player 3                    19                   19
3  Player 4                    24                   22
4  Player 5                    25                   28

In [11]:
### Average Jump height before training
bt=twosampp_df['Jump before training']
bt.mean()

22.72

In [12]:
### Average Jump height after training
at=twosampp_df['Jump after training']
at.mean()

23.8

- H0: Mean(Before Training) = Mean(After Training)
- H1: Mean(Before Training) != Mean(After Training)

- p-values >0.05 --> Fail to reject null hypothesis
- p-values <=0.05 --> Reject null hypothesis

In [13]:
ss.ttest_rel(bt,at,alternative='two-sided')

TtestResult(statistic=-3.2602767700386956, pvalue=0.0033180017066275855, df=24)

- H0: Mean(Before Training) <= Mean(After Training)
- H1: Mean(Before Training) > Mean(After Training)

- p-values >0.05 --> Fail to reject null hypothesis
- p-values <=0.05 --> Reject null hypothesis

In [14]:
ss.ttest_rel(bt,at,alternative='greater')

TtestResult(statistic=-3.2602767700386956, pvalue=0.9983409991466862, df=24)

- p-values >0.05 --> Fail to reject null hypothesis

In [15]:
# Two-Tailed Test --> Rejection region on the both ends of distribution (H1-> not equal to) (two-sided)
# Left-Tailed Test --> Rejection region on the left end of distribution (H1-> lesser than symbol)(less)
# Right-Tailed Test --> Rejection region on the right end of distribution (H1-> greater than symbol) (greater)